<!DOCTYPE html>
<html lang="tr">
<head>
  <title>Kalite Değerlendirme Programı - Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="p-5 bg-success text-white text-center">
  <h1>Çağrı Merkezi Şefliği</h1>
  <p>Kalite Değerlendirme Yazılımı</p> 
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Burada menü öğeleriniz olabilir -->
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <h2>Kullanıcı Girişi</h2>
  <form method="post">  <!-- Formun action özelliğini kaldırdık ve methodunu POST olarak güncelledik -->
    {% csrf_token %}  <!-- CSRF token ekledik -->
    {{ form.as_p }}  <!-- Django formunu paragraf (<p>) olarak render ettik -->
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Beni Hatırla
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Giriş</button>
  </form>
</div>

</body>
</html>
